@model IEnumerable<sports_league.Models.Team>

<html>
<head>
    <title>Sports League</title>
</head>
<body>
    <h2>Sports League!</h2>
    <ul>
        @foreach (var listTeam in Model)
        {
            <li>Captain: @Html.DisplayFor(modelTeam => listTeam.Captain)</li>
            <p>@Html.ActionLink("Details", "Details", new { id = listTeam.TeamId })</p>
            <ul>
                <li>Player One: @Html.DisplayFor(modelTeam => listTeam.PlayerOne)</li>
                <li>Player Two: @Html.DisplayFor(modelTeam => listTeam.PlayerTwo)</li>
                <li>Player Three: @Html.DisplayFor(modelTeam => listTeam.PlayerThree)</li>
                <br>
            </ul>
        }
    </ul>
    <p>@Html.ActionLink("Add new team", "Create")</p>
</body>
</html>
          